
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&family=Nunito:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.spin{
  animation: 10s spin linear infinite;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}